{% extends "base.html" %}
{% block title %}{{ title }} &ndash; Joseph Long{% endblock %}
{% block head %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['%%','%%'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen" title="Default" charset="utf-8">
{% endblock %}
{% block content %}
<header id="post-header" class="block">
  <div class="headings">
    <h1 id="post-title">{{ title }}</h1>
    <h2 id="post-date">{{ date.strftime('%B %d, %Y') }}</h2>
  </div>
</header>
<div class="block short" id="author">
  <div>by <a href="/">Joseph Long</a></div>
</div>
<article class="block" id="post-body">
  {{ content | markdown }}
</article>
<div class="block short" id="engage">
  <p>comments? hit me up: <a href="https://twitter.com/home?status=%40josePhoenix%20hey" target="_blank">@josePhoenix</a></p>
  <p><a href="/writing/">&larr; back to the writing archive</a></p>
</div>
{% endblock %}